<form class ="form-wrapper" ng-submit="callToAdd(firstName, lastName, email)">
 	<span class="header-holder">
 		<h1 class="header">Sign up for our Newletter!</h1>
 	</span>
 	<div class="inputHolder">
	 	<input ng-model='firstName' type="text" placeholder="First Name" class="textInput" required> 
	 	<input ng-model="lastName" type="text" placeholder="Last Name" class="textInput" required>	
	 	<input ng-model="email" type="email" placeholder="Email Address" class="textInput" required> 
	 </div>
	 <div>
	 	<img src="/assets/logo..jpg" class="logo">
	 	<input type="submit" class="submitButton">
	 </div>
</form>